@inherits LayoutComponentBase

<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <Header/>
            @Body
        </div>
    </div>
    <Sidebar/>
</div>