<ul class="sidebar-nav navbar-nav">
    <li class="sidebar-brand"> <a href="/"><i class="fab fa-bootstrap" aria-hidden="true"></i> Sidebar Menu </a> </li>

    @*<li class="nav-item"> <NavLink class="nav-link" href="/" Match="NavLinkMatch.All"><i class="fas fa-fw fa-list-alt" aria-hidden="true"></i> Home</NavLink> </li>*@
    <li class="nav-item"> <NavLink class="nav-link" href="counter"><i class="fas fa-fw fa-plus" aria-hidden="true"></i> Counter</NavLink> </li>
    <li class="nav-item"> <NavLink class="nav-link" href="fetchdata"><i class="fas fa-fw fa-server" aria-hidden="true"></i> Fetch data</NavLink> </li>
    <li class="nav-item"> <NavLink class="nav-link" href="/shortcuts"><i class="fas fa-fw fa-link" aria-hidden="true"></i> Shortcuts</NavLink> </li>
    <li class="nav-item"> <NavLink class="nav-link" href="#"><i class="fas fa-fw fa-chart-line" aria-hidden="true"></i> Dashboard</NavLink> </li>

    <li class="nav-item"> <NavLink class="nav-link" href="#"><i class="fas fa-fw fa-calendar-day" aria-hidden="true"></i> Events</NavLink> </li>
    <li class="nav-item"> <NavLink class="nav-link" href="#"><i class="fas fa-fw fa-info" aria-hidden="true"></i> About</NavLink> </li>
    <li class="nav-item"> <NavLink class="nav-link" href="#"><i class="fas fa-fw fa-concierge-bell" aria-hidden="true"></i> Services</NavLink> </li>
    <li class="nav-item"> <NavLink class="nav-link" href="#"><i class="fas fa-fw fa-id-badge" aria-hidden="true"></i> Contact</NavLink> </li>


    <li class="sidebar-brand"> <a href="/"><i class="fab fa-bootstrap" aria-hidden="true"></i> Sidebar Menu </a> </li>

    @*<li class="nav-item"> <NavLink class="nav-link" href="/" Match="NavLinkMatch.All"><i class="fas fa-fw fa-list-alt" aria-hidden="true"></i> Home</NavLink> </li>*@
    <li class="nav-item"> <NavLink class="nav-link" href="counter"><i class="fas fa-fw fa-plus" aria-hidden="true"></i> Counter</NavLink> </li>
    <li class="nav-item"> <NavLink class="nav-link" href="fetchdata"><i class="fas fa-fw fa-server" aria-hidden="true"></i> Fetch data</NavLink> </li>
    <li class="nav-item"> <NavLink class="nav-link" href="/shortcuts"><i class="fas fa-fw fa-link" aria-hidden="true"></i> Shortcuts</NavLink> </li>
    <li class="nav-item"> <NavLink class="nav-link" href="#"><i class="fas fa-fw fa-chart-line" aria-hidden="true"></i> Dashboard</NavLink> </li>

    <li class="nav-item"> <NavLink class="nav-link" href="#"><i class="fas fa-fw fa-calendar-day" aria-hidden="true"></i> Events</NavLink> </li>
    <li class="nav-item"> <NavLink class="nav-link" href="#"><i class="fas fa-fw fa-info" aria-hidden="true"></i> About</NavLink> </li>
    <li class="nav-item"> <NavLink class="nav-link" href="#"><i class="fas fa-fw fa-concierge-bell" aria-hidden="true"></i> Services</NavLink> </li>
    <li class="nav-item"> <NavLink class="nav-link" href="#"><i class="fas fa-fw fa-id-badge" aria-hidden="true"></i> Contact</NavLink> </li>
</ul>