<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="/">Verti</a></h1>
            <span>by HTML5 UP</span>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <NavLink Match="NavLinkMatch.All" ActiveClass="current" href="/">Welcome</NavLink>
                </li>
                <li>
                    <NavLink Match="NavLinkMatch.All" ActiveClass="current" href="/leftsidebar">Left Sidebar</NavLink>
                </li>
                <li>
                    <NavLink Match="NavLinkMatch.All" ActiveClass="current" href="/rightsidebar">Right Sidebar</NavLink>
                </li>
                <li>
                    <NavLink Match="NavLinkMatch.All" ActiveClass="current" href="/nosidebar">No Sidebar</NavLink>
                </li> 
            </ul>
        </nav>

    </header>
</div>

@*<ul>
        <li class=" current"><a href="/">Welcome</a></li>
        <li>
            <a href="#">Dropdown</a>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li>
                    <a href="#">Phasellus consequat</a>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Phasellus consequat</a></li>
                        <li><a href="#">Magna phasellus</a></li>
                        <li><a href="#">Etiam dolore nisl</a></li>
                    </ul>
                </li>
                <li><a href="#">Veroeros feugiat</a></li>
            </ul>
        </li>
        <li><a href="/leftsidebar">Left Sidebar</a></li>
        <li><a href="/rightsidebar">Right Sidebar</a></li>
        <li><a href="/nosidebar">No Sidebar</a></li>
    </ul>*@